= form_for @dish do |f|
  - if @dish.errors.any?
    #error_explanation
      %h3= "#{pluralize(@dish.errors.count, "error")} prohibited this dish from being saved:"
      %ul
        - @dish.errors.full_messages.each do |message|
          %li= message
  %ol.inputs
    %li
      = f.label :name
      = f.text_field :name
    %li
      = f.label :price
      = f.text_field :price
    %li
      = f.label :cuisine_type
      = f.text_field :cuisine_type
    %li
      = f.label :image_url
      = f.text_field :image_url
    %li
      = f.label :restaurant_name
      = f.text_field :restaurant_name
    %li
      = f.submit 'Save'
