%header
  %h2 Favorite Dishes
  %p= link_to 'New Dish', new_dish_path

%ul.dishes
  - @dishes.each do |dish|
    %li
      %article{ class: cycle('listlineodd', 'listlineeven') }
        %section
        %h3= link_to dish.name, dish
        =image_tag(dish.image_url)
        %section
        %ul.info
          //%li= image_tag(dish.image_url)
          %li= number_to_currency(dish.price)
          %li= dish.cuisine_type
          %li= dish.restaurant_name
