%header
  %h2 Favorite Dishes
  %p= link_to 'New Dish', new_dish_path

%ul.dishes
  - @dishes.each do |dish|
    %li
      %article
        %h3= link_to dish.name, dish
        %ul.info
          %li= dish.restaurant_name
          %li= dish.restaurant.phone
          %li= dish.restaurant.address
          %li= dish.price
          %li= dish.cuisine_type
          %li= image_tag(dish.image_url)
        %ul.controls
          %li= link_to 'Edit', edit_dish_path(dish)
          %li= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' }
